/* CSS Document */
html {
    height: 100%;
    margin-bottom: 1px;
}
body, h1, h2, h3, h4, ul, li {
    margin: 0;
    padding: 0;
}

body, td, th, form, input, select, option, textarea{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

body{ margin:0px;}
p{ margin: 3px 5px 3px 5px;}
ul { list-style: none;}
label{ font-weight: bold;}

h1{
	
	font-family: "Trebuchet MS", Verdana;
	font-size: 20px;	
	padding: 0px 0px 5px 5px;
}

select
{
	width: 150px;
}
th{
	background-color: #e2e2e2;
	border: #d5d5d5 1px solid;
	height: 30px;
	padding: 5px;
	font-size: 11px;
	text-align: center;
}

hr{
	margin-top: 15px;
	margin-bottom: 15px;
	border-color: #C6E2FF;
	color: #C6E2FF;
	border: #C6E2FF solid 1px ;
}

a{
    color: #339BD3;
    text-decoration: none;
}

a:hover {
    color: #339BD3;
    text-decoration: underline;
}

/******************************************************************************************************** */


#hearder{
	height: 181px;
	width: 640px;
	background-color: #ffffff;
	padding-bottom: 4px;
	border-bottom: #0099FF 2px solid;
	font-size: 12px;
	font-weight: bold;
	background: url(images/oec.jpg) right no-repeat ;
	vertical-align: bottom;
		
}

#footer{
	color: #666666;
	padding: 5px;
	border-top: #333333 dotted 1px;
}



#NormalMessage, #ErrorMessage
{
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 50%;
	padding: 10px;
	padding-left: 40px;
	background-repeat: no-repeat;
	background-position: 5px;
}

#NormalMessage
{
	background-image: url(images/normal.png);
	background-color: #C6F3FF;
	border: 1px dashed #00CCFF;

}

#ErrorMessage
{
	background-image: url(images/error.png);
	background-color: #FFFFCC;
	border: 1px dashed #FFCC00;
	
}

#SectionTitle
{
    text-indent: 15px;
    height: 45px;
    line-height: 45px;
    font-size: 13px;
    color: #FFFFFF;
    text-decoration: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #afafaf;
    background-color: #5BADFF;
    width: auto;
	
}

#SectionTitle i{font-size: 11px;}


.row1 td
{
	background-color: #D7EBFF;
	border-bottom: #d5d5d5 1px dotted;
	padding: 5px;
}

.list tr td
{
	background-color: #FFFFFF;
	border-bottom: #d5d5d5 1px dotted;
	padding: 5px;
}
#nav
{
    list-style: none;
}

#nav a {
    display: block;
    margin: 0;
    text-indent: 15px;
    height: 30px;
    line-height: 30px;
    font-size: 1em;
    font-weight: bold;
    color: #666666;
    text-decoration: none;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #afafaf;
    background-color: #C6E2FF;
    
}

#nav a img {
    float: left;
    padding: 4px 3px;
    text-align: center;
}
#nav a:hover {
    background: #cccccc;
    color: #ffffff;
}
#nav li ul {
    display: block;
}
#nav li.current ul {
    display: block;
    border: none;
}
#nav li.current a {
    background-color: #e2e2e2;
    color: #339BD3;
}
#nav li.current a:hover { color: #ffffff;}

/*
-- Second level ------------------------------------------------------ */

#nav li li { padding-left: 20px;}

#nav li li a {
    font-weight: normal;
    text-indent: 30px;
    height: 25px;
    line-height: 25px;
}
#nav li.current li a {
    color: #666666;
}
#nav li.current li a:hover {
    color: #ffffff;
}
#nav li.current li.current a {
    color: #ffffff;
    background: #5BADFF ;
    font-style: italic;
}

/*